extends layout

block content

  <div class="mt-4">
    <div class="container d-flex justify-content-center">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            //- START OF STORIES
            <div class="card">
              <h4 class="d-flex justify-content-center p-3">Popular Fandoms</h4>
              <div class="card-main d-flex justify-content-center">
                  <ul class="list-unstyled mb-0">
                    <li class="list-inline-item">
                      <button class="btn m-0">
                        <div class="d-flex flex-column align-items-center">
                          <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-secondary story-profile-photo">
                            <img src="/images/percy.png" alt="" width="50", height="50">
                          </div>
                          <small>Demigods</small>
                        </div>
                      </button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn m-0">
                        <div class="d-flex flex-column align-items-center">
                          <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-secondary story-profile-photo">
                            <img src="/images/maze.png" alt="" width="50", height="50">
                          </div>
                          <small>Dashner's Army</small>
                        </div>
                      </button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn m-0">
                        <div class="d-flex flex-column align-items-center">
                          <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-secondary story-profile-photo">
                            <img src="/images/harry.png" alt="" width="50", height="50">
                          </div>
                          <small>Potterheads</small>
                        </div>
                      </button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn m-0">
                        <div class="d-flex flex-column align-items-center">
                          <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-secondary story-profile-photo">
                            <img src="/images/hunger.png" alt="" width="50", height="50">
                          </div>
                          <small>Tributes</small>
                        </div>
                      </button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn m-0">
                        <div class="d-flex flex-column align-items-center">
                          <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-secondary story-profile-photo">
                            <img src="/images/diver.png" alt="" width="50", height="50">
                          </div>
                          <small>Initiates</small>
                        </div>
                      </button>
                    </li>
                  </ul>
              </div>
            </div>    
            //- END OF STORIES
            //- POSTS
            <div class="d-flex flex-column mt-4 mb-4">
              each pet, index in pets
                <div class="card">
                  //- Header
                  <div class="card-header p-3">
                    <div class="d-flex flex-row align-items-center">
                        <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-secondary post-profile-photo mr-3">
                          <img src="/images/Logo.png" alt="" width="30", height="30">
                        </div>
                        <span class="font-weight-bold">noveltea</span>
                    </div>
                  </div>
                  //- Header end

                  //- Main
                  <div class="card-main p-0">
                    //- image
                    <div class="post-image">
                      if pet.avatarUrl
                        img.card-img-top(src=pet.avatarUrl + '-standard.', alt='Card image cap')
                      else
                        img.card-img-top(src=pet.picUrl, alt='Card image cap')
                    </div>
                    //- like, comment, etc.
                    <div class="d-flex flex-row justify-content-between pl-3 pr-3 pt-3 pb-1">
                      <ul class="list-inline d-flex flex-row align-items-center m-0">
                        <li class="list-inline-item">
                          <button class="btn p-0">
                          <i class="far fa-heart fa-2x"></i>
                          </button>
                        </li>
                        <li class="list-inline-item ml-2">
                          <button class="btn p-0">
                          <i class="far fa-comment fa-2x"></i>
                          </button>
                        </li>
                        <li class="list-inline-item ml-2">
                          <button class="btn p-0">
                          <i class="far fa-share-square fa-2x"></i>
                          </button>
                        </li>
                      </ul>
                    </div>

                    //- Body
                    <div class="pl-3 pr-3 pb-2">
                      strong.d-block.mb-1.card-title= pet.name
                      strong.p.card-text= pet.species
                      p.card-text= pet.description
                      <button class="btn p-0">
                        a.card-link(href=`/pets/${pet._id}`) View #{pet.name}
                      </button>
                    </div>
                  </div>
                </div>

              //- PAGINATION
              nav(aria-label='Page navigation example').d-flex.justify-content-center.p-3
                ul.pagination
                  if currentPage > 1
                    li.page-item
                      if term
                        a.page-link(href=`?term=${term}&page=${currentPage - 1}`) Previous
                      else
                        a.page-link(href=`?page=${currentPage - 1}`) Previous

                  - var i = 1;
                  while i <= pagesCount
                    li.page-item
                      if term
                        a.page-link(href=`?term=${term}&page=${i}`)= i++
                      else
                        a.page-link(href=`?page=${i}`)= i++

                  if currentPage < pagesCount
                    li.page-item
                      if term
                        a.page-link(href=`?term=${term}&page=${parseInt(currentPage) + 1}`) Next
                      else
                        a.page-link(href=`?page=${parseInt(currentPage) + 1}`) Next
            </div>
            //-  END OF POSTS CARD
          </div>
          //- END OF COL-8

          //- MESSAGES
          <div class="col-4">
            //-  Account
            <div class="d-flex flex-row justify-content-between">
              <h5 class="text-muted font-weight-bold pt-1">Account</h5>
            </div>
            <div class="d-flex flex-row align-items-center">
              <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sidenav-profile-photo">
                <i class="fas fa-user-circle fa-3x"></i>
              </div>
              <div class="profile-info ml-3">
                <span class="profile-info-name">noveltea</span>
              </div>
            </div>

            //- Messages         
            <div class="mt-4">
              <div class="d-flex flex-row justify-content-between">
                  <h5 class="text-muted font-weight-bold">Messages</h5>
              </div>

              //- Message 1
              <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                <div class="d-flex flex-row align-items-center">
                  <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                    <img src="/images/Logo.png" alt="..." width="30", height="30">
                  </div>
                    <strong class="ml-3 sugest-username">noveltea</strong>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row align-items-center ml-5">
                  <small>Welcome to Noveltea!</small>
                </div>
              </div>

              //- Message 2
              <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                <div class="d-flex flex-row align-items-center">
                  <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                    <img src="/images/harry.png" alt="..." width="30", height="30">
                  </div>
                    <strong class="ml-3 sugest-username">potterheads</strong>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row align-items-center ml-5">
                  <small>Hi there we noticed you were new! Would you like to join the Potterheads?</small>
                </div>
              </div>

              //-  Message 3
              <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                <div class="d-flex flex-row align-items-center">
                  <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                    <img src="/images/percy.png" alt="..." width="30", height="30">
                  </div>
                    <strong class="ml-3 sugest-username">demigods</strong>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row align-items-center ml-5">
                  <small>New? Join the Demigods!</small>
                </div>
              </div>

              //- Message 4
              <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                <div class="d-flex flex-row align-items-center">
                  <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                    <img src="/images/hunger.png" alt="..." width="30", height="30">
                  </div>
                    <strong class="ml-3 sugest-username">tributes</strong>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row align-items-center ml-5">
                  <small>Become a new Tribute today in this District of Noveltea</small>
                </div>
              </div>

              //- Message 5
              <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                <div class="d-flex flex-row align-items-center">
                  <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                    <img src="/images/maze.png" alt="..." width="30", height="30">
                  </div>
                    <strong class="ml-3 sugest-username">dasharmy</strong>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row align-items-center ml-5">
                  <small>Join the Dashner's Army and learn how to escape the maze!</small>
                </div>
              </div>

              //- Message 6
              <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                <div class="d-flex flex-row align-items-center">
                  <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                    <img src="/images/diver.png" alt="..." width="30", height="30">
                  </div>
                    <strong class="ml-3 sugest-username">initiates</strong>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row align-items-center ml-5">
                  <small>Become a new recruit now. Join Us!</small>
                </div>
              </div>              
              //- End of messages
            </div>
            //- END OF MESSAGES MT-4
          </div>
          //- END OF MESSAGES COL-4
        </div>
        //- END OF ROW
      </div>
      //- END OF COL-12
    </div>
    //-  END OF CONTAINER
  <div>
  //- END OF MT-4
